@media (max-width: 930px),(max-height: 560px) 
{
	#operatorSelectBoard
	{
  	top:0px;
  	left:0px;
  	height:60%;
  	width:calc(100% - 0px);
	}
	.operatorBadge
	{
		height: 20%;
		width: 20%;
	}
	#operatorCountersBoard
	{
  	top:60%;
  	left:0px;
  	height:40%;
  	width:calc(100% - 0px);
	}
	.operatorBadgeA
	{
		height: 100%;
		width: 100%;
	}
	.operatorBadgeB,.operatorBadgeC
	{
		height: 33%;
		width: 33%;
	}
}
@media (width > 500px) and (height < 560px) 
{
	#operatorSelectBoard
	{
  	top:0px;
  	left:0px;
  	height:100%;
  	width:calc(50% - 0px);
		border-radius:0px;
		box-shadow:6px 0px 20px 0px rgba(0, 0, 0, 0.5);
	}
	.operatorBadge
	{
		height: 20%;
		width: 20%;
	}
	#operatorCountersBoard
	{
  	top:0px;
  	left:calc(50% + 0px);
  	height:100%;
  	width:calc(50% - 0px);
		border-radius:0px;
	}
	.operatorBadgeA
	{
		height: 100%;
		width: 100%;
	}
	.operatorBadgeB,.operatorBadgeC
	{
		height: 33%;
		width: 33%;
	}
}