@media (max-width: 590px),(max-height: 605px) 
{
	#operatorSelectBoard
	{
  	top:0px !important;
  	left:0px !important;
  	height:100% !important;
  	width:calc(100% - 1px) !important;
	}
	/*#operatorsAttack,#operatorsDefense
	{
		overflow: scroll !important;
	}*/
	.operatorBadge
	{
		height: 20% !important;
		width: 20% !important;
	}
	#mapInfo
	{
		top:0px !important;
  	left:0px !important;
  	height:100% !important;
  	width:calc(100% - 50px) !important;
	}
	.mapThumb
	{
		line-height: 100px !important;
	}
	.spawnLocationsImages
	{
		top: -15% !important;
		left:-60% !important;
		width: 220% !important;
	}
	#modeBomb,#modeHostage,#modeSecure
	{
		background-size:220% !important;
		background-position: center;
	}
	#modeBomb,#modeHostage,#modeSecure
	{
		line-height: 200px !important;
	}
	#menu
	{
		top:0% !important;
		height: calc(100% - 0px) !important;
		left:unset !important;
		right:0% !important;
	}
	/*
  #menuOperators,#menuMap
	{
		background-color:var(--color3) !important;;
	}
  #menuOperators:hover,#menuMap:hover
	{
		background-color:var(--color3hover) !important;
	}*/
}
